# Compiled binaries and object files
build/
*.o
*.d
*.exe
*.out

# IDE files
.vscode/

# Specific files to ignore
notes.md

# Ignore all dot-files (e.g., .DS_Store, .project, etc.)
# but specifically UN-ignore the .gitignore file.
.*
!/.gitignore

# Ignore the 'data' folder and everything inside it
/data/